
.drum-knob{
    /* position: absolute;
    left: 50%; */
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:50px;
    height:75px;
    background:#EEEEEE;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background:#0099ff;
}

.deletePadding{
  padding-left: 1%;
  padding-right: 1%;
}

.text-center .global-drum-name{
    padding-right: 1%;
}
